<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       			http://www.springframework.org/schema/beans/spring-beans.xsd 
      			http://www.springframework.org/schema/jee 
      			http://www.springframework.org/schema/jee/spring-jee.xsd 
      			http://www.springframework.org/schema/context 
      			http://www.springframework.org/schema/context/spring-context.xsd">
    <!--ContextLoaderListener创建一个根应用上下文，加载驱动应用后端的中间层和数据层组件-->

	<!-- 设置自动扫描包路径 -->
	<context:component-scan base-package="cn.study.shiro.chapter6"></context:component-scan>
	<!-- 设置自动装配，即使用@Autowired -->
	<context:annotation-config/>
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${db.driverClass}"></property>
		<property name="jdbcUrl" value="${db.jdbcUrl}"></property>
		<property name="user" value="${db.user}"></property>
		<property name="password" value="${db.password}"></property>	
	</bean>
	<!-- 这种第三方jar包中的类，只能通过xml配置 -->
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<constructor-arg value="dataSource"></constructor-arg>
	</bean>
	<bean id="randomNumberGenerator" class="org.apache.shiro.crypto.SecureRandomNumberGenerator"></bean>
</beans>